/* Monet userContent.css*/

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #f2ece6 !important;
      --color-accent-primary: #a0d2fa !important;
      --color-accent-primary-hover: rgb(130, 213, 230) !important;
      --color-accent-primary-active: rgb(125, 197, 233) !important;
      background-color: #1a1f2b !important;
      --in-content-page-background: #1a1f2b !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #1a1f2b !important;
      --newtab-background-color-secondary: #202636 !important;
      --newtab-element-hover-color: #202636 !important;
      --newtab-text-primary-color: #f2ece6 !important;
      --newtab-wordmark-color: #f2ece6 !important;
      --newtab-primary-action-background: #a0d2fa !important;
    }

    .icon {
      color: #a0d2fa !important;
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #a0d2fa !important;
    }

    .top-site-outer .search-topsite {
      background-color: #82d5e6 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #a0d2fa !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #151922 !important;
      --in-content-text-color: #f2ece6 !important;
      --link-color: #a0d2fa !important;
      --link-color-hover: rgb(130, 213, 230) !important;
      --zen-colors-primary: #202636 !important;
      --in-content-box-background: #202636 !important;
      --zen-primary-color: #a0d2fa !important;
    }

    groupbox , moz-card{
      background: #1a1f2b !important;
    }

    button,
    groupbox menulist {
      background: #202636 !important;
      color: #f2ece6 !important;
    }

    .main-content {
      background-color: #10141c !important;
    }

    .identity-color-blue {
      --identity-tab-color: #82d5e6 !important;
      --identity-icon-color: #82d5e6 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #a0d2fa !important;
      --identity-icon-color: #a0d2fa !important;
    }

    .identity-color-green {
      --identity-tab-color: #a0d2fa !important;
      --identity-icon-color: #a0d2fa !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #ead49a !important;
      --identity-icon-color: #ead49a !important;
    }

    .identity-color-orange {
      --identity-tab-color: #e6a37c !important;
      --identity-icon-color: #e6a37c !important;
    }

    .identity-color-red {
      --identity-tab-color: #ed8695 !important;
      --identity-icon-color: #ed8695 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #f1c5c4 !important;
      --identity-icon-color: #f1c5c4 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #f1c5c4 !important;
      --identity-icon-color: #f1c5c4 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #151922 !important;
      --background-color-box: #1a1f2b !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #1a1f2b !important;
      --social-color: #f1c5c4 !important;
      --coockie-color: #82d5e6 !important;
      --fingerprinter-color: #ead49a !important;
      --cryptominer-color: #82d5e6 !important;
      --tracker-color: #a0d2fa !important;
      --in-content-primary-button-background-hover: rgb(81, 88, 107) !important;
      --in-content-primary-button-text-color-hover: #f2ece6 !important;
      --in-content-primary-button-background: #353b4e !important;
      --in-content-primary-button-text-color: #f2ece6 !important;
    }


    .card {
      background-color: #202636 !important;
    }
  }
}
