* {
    font-family: FiraCode Nerd Font;     
    border: none;
    border-radius: 0;
    font-size: 16px;
    margin-bottom: 0px;
}
window#waybar {
    background: transparent; 
}
.modules-left{
    background: #272e33;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 20;
    border: solid 1px #a7c080;
    color: #d3c6aa;
}
#user {
    margin-left: 15px;
    margin-right: 10px;
}
#workspaces {
    margin: 0px 5px;
    padding: 0px;
}
#workspaces button {
    color: #d3c6aa;
}
#workspaces button.active{
    color: #a7c080;
}
.modules-center{
    background: #272e33;
    margin-top: 5px;
    border-radius: 20;
    border: solid 1px #a7c080;
    color: #d3c6aa;
}

#window {
    margin: 5px 10px;
    min-height: 15px;
}
window#waybar.empty #window {
    background-color: transparent;
}

.modules-right {
    background: #272e33;
    margin-top: 5px; 
    border-radius: 20;
    border: solid 1px #a7c080;
    color: #d3c6aa;
    font-size: 10px;
    margin-right: 10px;
    padding: 5px;
}
#cpu {
    margin: 0px 10px;
}
#memory {
    margin: 0px 10px;
}
#clock {
    margin: 0px 10px;
}
